{% extends 'transactions/layouts.html' %}
{% load static %}

{% block title %}
LibStats: Record
{% endblock %}

{% block body %}
<div id="overlay" class="disabled">
    <div id="overlay-content">
            <div id="overlay-header">
                <h2>Reference Transaction Types</h2>
                <button class="btn btn-danger overlay-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </button>
            </div>
            <div id="overlay-definitions">
                <div class="card">
                    <p class="card-head">Directional</p>
                    <hr>
                    <p>Simple questions about facilities, hours, etc.</p>
                    <p>For example: What time do you close? Where are the restrooms? Etc.</p>
                </div>
                <div class="card">
                    <p class="card-head">Information Services</p>
                    <hr>
                <p>General reference questions and questions about library cards or services.</p>
                <p>For example: What are Kroger’s hours? How can I renew my card?</p>
            </div>
            <div class="card">
                <p class="card-head">Digital Resources</p>
                <hr>
                <p>Questions about accessing and using MPL digital resources.</p>
                <p>For example: How do I use Libby and Hoopla? What is LawDepot? Can I use Ancestery at home?</p>
            </div>
            <div class="card">
                <p class="card-head">Known-Item Requests</p>
                <hr>
                <p>Patron request for specific items (known-items)</p>
                <p>For example: Do you have <em>The Martian</em> by Andy Weir? Can I place a hold on this book?</p>
            </div>
            <div class="card">
                <p class="card-head">Technology Help</p>
                <hr>
                <p>Requests for help using public computers or other tech questions</p>
                <p>For example: Can you help me print this document? Can you help me complete this application?</p>
            </div>
            </div>
    </div>
</div>
<section class="page-header">
    <h1>Record New Reference Transactions</h1>
</section>
<section class="card form-card">
    <form action="{% url 'transactions:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit & Clear" class="btn btn-primary">
    </form>
</section>
<secton id="help-button">
    <button class="btn btn-primary overlay-button">Need Help?</button>
</secton>
<script src="{% static 'transactions/overlay.js' %}"></script>
{% endblock %}