{% extends 'transactions/layouts.html' %}

{% block title %}
MPL LibStats: Record
{% endblock %}

{% block body %}
<div id="overlay">
    <div id="overlay-definitions">
        Hellow World
    </div>
</div>
<section class="page-header">
    <h1>Record New Reference Transactions</h1>
</section>
<section class="card form-card">
    <form action="{% url 'transactions:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit & Clear" class="btn btn-primary">
    </form>
</section>

{% endblock %}