{% extends 'transactions/layouts.html' %}
{% load static %}

{% block title %}
MPL LibStats
{% endblock %}

{% block body %}
<section class="page-header">
    <h1>MPL LibStats</h1>
    <p>Reference Statistics Collection</p>
</section>
<hr>
<div id="index-container">
    <section id="index-quickstart" class="index-section">
        <h3 class="index-section-head">Quick Start Guide</h3>
        <p>
            LibStats is a simple app that allows you to record, view, and generate reports about reference transactions that are completed in the library. You can access the app’s three functions by clicking the links in the menu bar above. 
A quick reference about reference transaction types is below if you need to refresh your memory from time to time. If you have any questions, please let your supervisor know.
        </p>
        <h4 class="index-section-head">Functions</h4>
        <ul id="function-list">
            <li>
                Record: This is the main LibStats function. Use this function to record and add new reference transactions when you answer patron questions. Recorded transactions will be added to the transaction log for later viewing and reporting.</li>
            <li>
                View: This function lets you review the recorded transaction log between a specified date range. This function also allows a portion of the full transaction log to be exported as a CSV.
            </li>
            <li>
                Reports: This function lets you generate reference report based on a specified date range and a specific location (e.g. Circulation, Reference, or Children’s).
            </li>
        </ul>
    </section>
        <section id="index-counter" class="index-section">
        <div class="card counter-card" id="index-counter">
            <p class="card-head">Questions Answered This Month</p>
            <p id="count-data">{{ count }}</p>
            <button id="refresh-button" class="btn btn-primary">Refresh</button>
        </div>
    </section>
    <section id="index-definitions" class="index-section">
        <hr>
        <h3 class="index-section-head">Reference Transaction Types</h3>
        <div id="index-definition-cards">
            <div class="card definition-card">
                <p class="card-head">Directional</p>
                <hr>
                <p>Simple questions about facilities, hours, etc.</p>
                <p>For example: What time do you close? Where are the restrooms? Etc.</p>
            </div>
            <div class="card definition-card">
                <p class="card-head">Information Services</p>
                <hr>
            <p>General reference questions and questions about library cards or services.</p>
            <p>For example: What are Kroger’s hours? How can I renew my card?</p>
        </div>
        <div class="card definition-card">
            <p class="card-head">Digital Resources</p>
            <hr>
            <p>Questions about accessing and using MPL digital resources.</p>
            <p>For example: How do I use Libby and Hoopla? What is LawDepot? Can I use Ancestery at home?</p>
        </div>
        <div class="card definition-card">
            <p class="card-head">Known-Item Requests</p>
            <hr>
            <p>Patron request for specific items (known-items)</p>
            <p>For example: Do you have <em>The Martian</em> by Andy Weir? Can I place a hold on this book?</p>
        </div>
        <div class="card definition-card">
            <p class="card-head">Technology Help</p>
            <hr>
            <p>Requests for help using public computers or other tech questions</p>
            <p>For example: Can you help me print this document? Can you help me complete this application?</p>
        </div>
    </div>
</section>
<div id="counterapi-url" data-apiurl="{% url 'transactions:counterapi' %}" style="display: none;"></div>
</div>
<script src="{% static 'transactions/counter.js' %}"></script>
{% endblock %}