{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}
    <a href="{% url 'transactions:index' %}">Home</a>
    <a href="{% url 'transactions:add' %}">Add Transactions</a>
    <a href="{% url 'transactions:view' %}">View Transactions</a>
</body>
</html>