{% extends 'transactions/layouts.html' %}

{% block body %}
<section class="page-header">
    <h1>View Recorded Transaction Logs</h1>
</section>

<form action="{% url 'transactions:view' %}" method="post">
    {% csrf_token %}
        <input type="date" name="start_date" id="start_date">
        <input type="date" name="end_date" id="end_date">
        <select name="location" id="location">
            {% for choice in choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search Transactions">
</form>

{% endblock %}