# Ignore MacOS files
.DS_Store

# Ignore Pipfile.lock
Pipfile.lock

# Ignore socket files
reference.sock
.reference.sock*

# Ignore static files. Generate using Djano-Admin collectstatic command
/app/static/admin
/app/static/transactions

# Ignore __pycache__
/app/reference/__pycache__/*.pyc
/app/transactions/__pycache__/*.pyc

# Ignore data folder
/data

# Dev database
/app/db.sqlite3