body {
    background-color: #e9e9e9;
}

#nav {
    background-color: #185c36;
    padding: 10px;
}

#nav > a {
    color: white;
}

#nav > a:hover {
    text-decoration: underline;
}

#alert {
    margin: 10px;
}

main {
    max-width: 1100px;
    margin: auto;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

#export {
    width: fit-content;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form > input, select {
    margin: 2%;
}

table {
    text-align: center;
    margin-top: 2%;
}

thead {
    background-color: #185c36;
    color: #ffffff;
}

#empty-log, .report-heading {
    text-align: center;
    margin-top: 5%;
}

.index-section-head {
    font-weight: bold;
}

#index-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    grid-gap: 30px;
}

#index-quickstart {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: justify;
}

#index-counter {
    text-align: center;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#refresh-button {
    margin-top: 1rem;
}

#count-data {
    font-size: large;
}

#index-definitions {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

#index-definition-cards {
    display: flex;
    flex-flow: row wrap;
}

.card {
    background-color: #ffffff;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #e3e3e3;
}

.card-head {
    font-weight: bold;
    margin-bottom: 0;
}

.definition-card {
    width: 31%;
}

.counter-card {
    width: 75%;
    padding: 10%;
    margin: auto;
    
}

.form-card {
    width: 30%;
    margin: auto;
}

#function-list > li {
    margin-top: 2%;
}

.disabled {
    display: none;
}

#overlay {
    height: 100%;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 60px;
    background-color: rgba(0,0,0,0.7);
}


#overlay-content {
    margin: 5%;
    width: 80%;
    margin: auto;
    background-color: #e9e9e9;
    margin-top: 5%;
    border-radius: 10px;
    
}

#overlay-header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

#overlay-header > button {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay-definitions {
    display: flex;
    padding: 2%;
    padding-top: 0;
}

#overlay-definitions > div {
    width: 25%;
}

#help-button {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}